<div id="export-wrapper">
    <div class="container" id="search-container">
        <div class="field" id="search-field">
            <div class="field-label">
                <label class="label">College/University</label>
            </div>
            <div class="field-body">
                <div class="field has-addons has-addons-centered">
                    <div class="control" id="search-input">
                        <input class="input is-primary is-rounded" type="text" placeholder="Massachusetts Institute of Technology">
                    </div>
                    <div class="control">
                        <a class="button is-primary is-rounded">
                            +
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="selected-container">
    
    </div>
</div>
