<nav class="navbar is-spaced is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/export">
                Export
            </a>
            <a class="navbar-item" routerLink="/search">
                Search
            </a>
            <a class="navbar-item" routerLink="/viz">
                Vizualizations
            </a>
            <a class="navbar-item" routerLink="/faq">
                FAQ
            </a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>