#export-wrapper {
    width: 100%;
}

#search-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.field-label {
    display: flex;
    justify-content: center;
    margin-right: 0;
}

#search-field {
    width: 100%;
    margin-top: 10rem;
}

#search-input {
    width: 100%;
}